.about-container {
 position: relative;
}

.about-styles {
  padding-top: 3.5%;
  top: 0;
  bottom: 0;
  width: 100%;
  @media screen and (max-width: 800px) {
    padding-top: 9%;
  }
}

.about-styles .intro-card {
  display: flex;
  align-items: center;
  padding-left: 10%;
  background-color: hsla(351, 28%, 52%, .09);
  @media screen and (max-width: 750px) {
    padding-left: 0;
    flex-direction: column;
  }  
}

.about-styles .intro-card .img {
  box-shadow: 5px 10px 18px silver;
  width: 15rem;
  height: 15rem;
  border-radius: 20%;
  margin: 2.5%;
}

.about-styles .intro-card p {
  background-color: hsla(351, 28%, 52%, .09);
  box-shadow: 5px 10px 18px silver;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  text-shadow: 1px 1px silver;
  padding: 2%;
  margin: 1%;
  width: 40%;
  @media screen and (max-width: 750px) {
    background-color: hsla(000, 0%, 100%, .7);
    transition: background-color .75s;
    width: 60%;
  }
  @media screen and (max-width: 360px) {
    width: 96%;
  }
}

.about-styles .intro-card .contact {
  margin-bottom: 5%;
}